*{
  margin: 0;
  padding: 0;
}

h3{
  display: inline-block;
  font-size: 16px;
}
span{
  font-size: 17px;
}


@-webkit-keyframes scrollToUp {
  0% {
    background-position: 0 0;
  }
  100% {
    background-position: 0 -250px;
  }
}
@keyframes scrollToUp {
  0% {
    background-position: 0 0;
  }
  100% {
    background-position: 0 -250px;
  }
}


.main{
  margin: 0px;
  padding: 0px;
  width: auto;
  height: 742px;
  background-image: url(../cailiao/bg.jpg);
  background-attachment: fixed;
  background-position: center center;
  -webkit-animation: scrollToUp 5s linear infinite;
  animation: scrollToUp 5s linear infinite;
  /* background-repeat: no-repeat; */
}

.floating-text {
  position: absolute;
  color: #000;
  opacity: 0; /* 初始不可见 */
  transition: opacity 2s; /* 添加渐入渐出过渡效果，持续1秒 */
}