@font-face {
  font-family: 'KuaiLe';
  src: url('cailiao/ZCOOLKuaiLe-Regular.ttf') format('truetype');
}

@font-face {
  font-family: 'XiaoWei';
  src: url('cailiao/ZCOOLXiaoWei-Regular.ttf') format('truetype');
}

body {
  margin: 0;
  font-family: 'KuaiLe','XiaoWei', -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}